
  <!-- <app-premier></app-premier> -->

  <!-- <app-binding></app-binding> -->

  <div class="container">
  <div class="row">
    <button routerLink="/binding" class="btn btn-primary">Binding</button>
    <button routerLink="/premier" class="btn btn-primary">Premier</button>
    <button routerLink="/pixabay" class="btn btn-primary">Pixabay</button>
    <button routerLink="/filiere" class="btn btn-primary">Filiere</button>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
   
  </div>