<div class="panel-heading">
	<div class="container">
	<div class="row">
		<div class="panel panel-primary">
	PHOTOS PIXABAY
</div>
<div class="card-body">
	<!--affichage du formulaire-->
	<form #f="ngForm" (ngSubmit)="onSearch()">
		<div class="form-group">
			<label>Mot Clé:</label>
			<input type="text" name="motCle" [(ngModel)]="motCle" required>
			<button type="submit" class="btn  btn-primary">Chercher</button>
		</div>
	</form>

	<!--Résultat de la recherche pixabay-->
	<div *ngIf="error" {{error}}></div>
	<div *ngIf="loading==true">Loading...</div>
	<div *ngIf="loading==false">
		<div *ngFor="let p of images?.hits">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{p.tags}}
					</div> 
					<div class="panel-body">
						<img src="{{p.previewURL}}" class="imagebox" />
					</div>
					<div class="panel-footer">
						{{p.likes}} <span class="glyphicon glyphicon-heart"></span>
					</div>
	</div>
	</div></div>
</div></div>
</div></div>
</div>